# Project GEVPRO (H&M) - MAIN

We will work with the following dataset: 
Source: https://www.kaggle.com/competitions/h-and-m-personalized-fashion-recommendations/overview
This dataset has been reduced to

In [3]:
%matplotlib inline
import pandas as pd
import seaborn as sns
df = pd.read_csv('IMDb movies.csv', low_memory=False)
df.year = pd.to_numeric(df.year, errors='coerce')  # replace some invalid year values with 'NaN'
df = df.dropna(subset=['year', 'actors'])  # drop rows with missing values in this column
df.shape

(85785, 22)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 85785 entries, 0 to 85854
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85785 non-null  object
 1   title                  85785 non-null  object
 2   original_title         85785 non-null  object
 3   year                   85785 non-null  float64
 4   date_published         85785 non-null  object
 5   genre                  85785 non-null  object
 6   duration               85785 non-null  int64
 7   country                85724 non-null  object
 8   language               84960 non-null  object
 9   director               85712 non-null  object
 10  writer                 84249 non-null  object
 11  production_company     81360 non-null  object
 12  actors                 85785 non-null  object
 13  description            83675 non-null  object
 14  avg_vote               85785 non-null  float64
 15  votes                  85785 non-null  int64
 16  budget                 23703 non-null  object
 17  usa_gross_income       15321 non-null  object
 18  worlwide_gross_income  30992 non-null  object
 19  metascore              13299 non-null  float64
 20  reviews_from_users     78206 non-null  float64
 21  reviews_from_critics   74010 non-null  float64
dtypes: float64(5), int64(2), object(15)
memory usage: 15.1+ MB

In [5]:
df.describe()

               year      duration  ...  reviews_from_users  reviews_from_critics
count  85785.000000  85785.000000  ...        78206.000000          74010.000000
mean    1993.491450    100.363700  ...           46.062540             27.489447
std       24.216793     22.546805  ...          178.567425             58.354913
min     1894.000000     41.000000  ...            1.000000              1.000000
25%     1979.000000     88.000000  ...            4.000000              3.000000
50%     2002.000000     96.000000  ...            9.000000              8.000000
75%     2013.000000    108.000000  ...           27.000000             23.750000
max     2020.000000    808.000000  ...        10472.000000            999.000000

[8 rows x 7 columns]