# Project GEVPRO (H&M) - Nils

We will work with the following dataset: 
Source: https://www.kaggle.com/competitions/h-and-m-personalized-fashion-recommendations/overview
This dataset has been reduced to use less memory. Only sales data from > 08-01-2020 is selected.

In [19]:
# Used libaries:
%matplotlib inline
import pandas as pd
from tqdm.notebook import tqdm

### 0.  Research questions:
We try to answer the following research questions:
1. 
2. 
3.

### 1.  Reducing the dataset: 
This is only ran on the default dataset (transactions_train.csv) found on kaggle to reduce the memory size to 91.3mb (instead of 3+gb).

In [12]:
# df = pd.read_csv('transactions_train.csv', low_memory=False)
# df['t_dat'] = pd.to_datetime(df['t_dat'])
# mask = df['t_dat'] > '08-01-2020'
# df_reduced = df.loc[mask]
# df_reduced.to_csv('C:\\Users\Administrator\\Jupyter Notebooks\\Project_gevpro\\transactions_reduced.csv',index=False)

In [21]:
# This loads the reduced transaction (sales) dataset.
customers = pd.read_csv('data/customers.csv', low_memory=False)
articles = pd.read_csv('data/articles.csv', low_memory=False)
transactions = pd.read_csv('data/transactions_reduced.csv', low_memory=False)

### 2. Exploring the data

In [24]:
customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [20]:
customers.describe()

         article_id         price  sales_channel_id
count  1.993503e+06  1.993503e+06      1.993503e+06
mean   8.011889e+08  2.957675e-02      1.675810e+00
std    1.305485e+08  2.038062e-02      4.680714e-01
min    1.087750e+08  3.220339e-04      1.000000e+00
25%    7.542380e+08  1.693220e-02      1.000000e+00
50%    8.457900e+08  2.540678e-02      2.000000e+00
75%    8.895500e+08  3.388136e-02      2.000000e+00
max    9.562170e+08  5.067797e-01      2.000000e+00

In [25]:
customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [26]:
customers.describe()

             FN    Active           age
count  476930.0  464404.0  1.356119e+06
mean        1.0       1.0  3.638696e+01
std         0.0       0.0  1.431363e+01
min         1.0       1.0  1.600000e+01
25%         1.0       1.0  2.400000e+01
50%         1.0       1.0  3.200000e+01
75%         1.0       1.0  4.900000e+01
max         1.0       1.0  9.900000e+01

In [27]:
transactions.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2020-08-02,0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...,853474004,0.033881,2
1,2020-08-02,0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...,865594003,0.013542,2
2,2020-08-02,0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...,865699001,0.025407,2
3,2020-08-02,0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...,822959001,0.050831,2
4,2020-08-02,0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...,888024005,0.084729,2

In [28]:
transactions.describe()

         article_id         price  sales_channel_id
count  1.993503e+06  1.993503e+06      1.993503e+06
mean   8.011889e+08  2.957675e-02      1.675810e+00
std    1.305485e+08  2.038062e-02      4.680714e-01
min    1.087750e+08  3.220339e-04      1.000000e+00
25%    7.542380e+08  1.693220e-02      1.000000e+00
50%    8.457900e+08  2.540678e-02      2.000000e+00
75%    8.895500e+08  3.388136e-02      2.000000e+00
max    9.562170e+08  5.067797e-01      2.000000e+00